<div class="page">
    <div class="wrapper">
        <div class="title-secondary">
            <span class="green-primary">подготовься </span>
            <div class="primary-white">к путешествию</div>
        </div>
        <div class="text-secondary primary-white">
            <p>
                У нас есть все необходимые аксессуары и экипировки
                для комфортного путешествия.</p>
            <p>
                Все дополнительное оборудование вы можете
                посмотреть в нашем виртуальном гараже.
            </p>
        </div>
        <app-button-type-1 [buttonText]="'Смотреть'"></app-button-type-1>
    </div>
</div>