@import "../../../_variables";
@porsche-panton: #DF9D5B;
@banner-height: 853px;

.page {
    margin: 0 auto;
    max-width: calc(1440px - 2*72px);
    height: @banner-height;

    background-color: @porsche-panton;
    background-image: url(../../../assets/images/image_start.jpg);
    background-repeat: repeat;
    background-size: cover;

    @media (min-width: @md) {
        padding: 0 72px;
        width: calc(100vw - 144px);
    }

    @media (max-width: (@md - 1px)) {
        padding: 0 24px;
        width: calc(100vw - 48px);
    }
}

.main-title {
    width: min-content;
    font-family: @CINEMAX;
    padding-top: 211px;
    margin-bottom: 16px;

    @media (min-width: @md) {
        font-size: 64px;
        line-height: 70.4px;
    }

    @media (max-width: (@md - 1px)) {
        font-size: calc(100vw / 12);
    }

    color: @primary-white;
    text-shadow: 0px 4px 4px #00000040;
    text-transform: uppercase;
}

.main-subtitle {
    font-family: @Gilroy;
    font-weight: 400;
    max-width: 509px;
    margin-bottom: 32px;

    @media (min-width: @md) {
        font-size: 24px;
        line-height: 26.4px;
    }

    @media (max-width: (@md - 1px)) {
        font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (767 - 360)));
        line-height: calc(18px + (26.4 - 18) * ((100vw - 360px) / (767 - 360)));
    }

    color: @primary-white;
}

.socials {
    margin-left: 24px;
}

a img {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.socials-line {
    position: absolute;

    @media (min-height: (@banner-height + 1px)) and (max-width: @max) {
        bottom: calc(100vh - (@banner-height + 1px) + 24px);
        right: 24px;
    }

    @media (min-height: (@banner-height + 1px)) and (min-width: (@max + 1px)) {
        bottom: calc(100vh - (@banner-height + 1px) + 24px);
        right: calc((100vw - @max) / 2 + 24px);
    }

    @media (max-height: @banner-height) and (max-width: @max) {
        bottom: 24px;
        right: 24px;
    }

    @media (max-height: @banner-height) and (min-width: (@max + 1px)) {
        bottom: 24px;
        right: calc((100vw - @max) / 2 + 24px);
    }

}