<div class="screen">
    <div class="page">
        <p class="main-title">
            Исследуйте,
            Вдохновляйтесь,
            Познавайте
        </p>
        <p class="main-subtitle">
            Погрузитесь в приключение на двух колесах
            с нашим широким выбором велосипедов
            для аренды.
        </p>
        <div class="row">
            <a href="#">
                <div class="parallelogram parallelogram-shadowed wrapper"><p>Аренда</p></div>
            </a>
            <a href="#">
                <div class="parallelogram parallelogram-empty wrapper"><p>Подробнее</p></div>
            </a>
        </div>
    </div>
</div>