<div class="page">
    <p class="title-main primary-white">
        Исследуйте,
        Вдохновляйтесь,
        Познавайте
    </p>
    <p class="text-main primary-white">
        Погрузитесь в приключение на двух колесах
        с нашим широким выбором велосипедов
        для аренды.
    </p>
    <div class="row">
        <a href="#">
            <app-button-type-1 [buttonText]="'Аренда'"></app-button-type-1>
        </a>
        <a href="#">
            <app-button-type-2 [buttonText]="'Подробнее'"></app-button-type-2>
        </a>
    </div>
    <div class="row socials-line">
        <a href="tg">
            <img class="socials" src="../../../assets/images/socials/telegram.svg">
        </a>
        <a href="ig">
            <img class="socials" src="../../../assets/images/socials/instagram.svg">
        </a>
        <a href="youtube">
            <img class="socials" src="../../../assets/images/socials/youtube.svg">
        </a>
    </div>
</div>