<div class="page less-1439px">
    <div class="container">
        <div class="container-block">
            <div class="block-info">
                <div class="block-info-margin">
                    <div class="about-title"><span class="green-primary">готов</span> прокатиться?</div>
                    <div class="about-text">
                        Независимо от того, вы новичок в мире велосипедов
                        или опытный велосипедист, у нас есть идеальный велосипед для вас, чтобы исследовать окрестности,
                        провести время
                        с семьей и друзьями или просто насладиться здоровым образом жизни.
                    </div>
                    <a href="#">
                        <app-button-type-1 [buttonText]="'GO!'"></app-button-type-1>
                    </a>
                </div>
            </div>
            <div class="block-empty"></div>
        </div>
        <div class="container-block-bicycle">
            <div class="block-image block-image-bicycle"></div>
            <div class="block-text block-bg-white">
                <div class="block-info-margin">
                    <div class="block-title">Велосипеды</div>
                    <div class="block-text-text">
                        Десятки различных велосипедов
                        премиум класса! Все наши велосипеды
                        регулярно проходят техническое
                        обслуживание чтобы гарантировать
                        безопасность и комфорт наших
                        клиентов. Мы работаем только
                        с надежными брендами и
                        оборудованием высокого качества.
                    </div>
                    <app-details-arrow></app-details-arrow>
                </div>
            </div>
        </div>
        <div class="container-block-tracks">
            <div class="block-image block-image-cyclist"></div>
            <div class="block-text block-bg-green">
                <div class="block-info-margin">
                    <div class="block-title">Треки</div>
                    <div class="block-text-text">
                        Более 10 треков по Черноземью.
                        Независимо от того, вы хотите
                        исследовать городские улицы,
                        окорить горные тропы или
                        прокатиться по набережной,
                        у нас есть идеальное место
                        для вашего велосипедного
                        приключения.
                    </div>
                    <app-details-arrow></app-details-arrow>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="page more-1440px">
    <div class="container">
        <div class="container-block">
            <div class="block-info">
                <div class="block-info-margin">
                    <div class="about-title"><span class="green-primary">готов</span> прокатиться?</div>
                    <div class="about-text">
                        Независимо от того, вы новичок в мире велосипедов
                        или опытный велосипедист, у нас есть идеальный велосипед для вас, чтобы исследовать окрестности,
                        провести время
                        с семьей и друзьями или просто насладиться здоровым образом жизни.
                    </div>
                    <a href="#">
                        <app-button-type-1 [buttonText]="'GO!'"></app-button-type-1>
                    </a>
                </div>
            </div>
            <div class="block-empty"></div>
        </div>
        <div>
            <div class="container-block-bicycle">
                <div class="block-image block-image-bicycle"></div>
                <div class="block-text block-bg-white">
                    <div class="block-info-margin">
                        <div class="block-title">Велосипеды</div>
                        <div class="block-text-text">
                            Десятки различных велосипедов
                            премиум класса! Все наши велосипеды
                            регулярно проходят техническое
                            обслуживание чтобы гарантировать
                            безопасность и комфорт наших
                            клиентов. Мы работаем только
                            с надежными брендами и
                            оборудованием высокого качества.
                        </div>
                        <app-details-arrow></app-details-arrow>
                    </div>
                </div>
            </div>
            <div class="container-block-tracks">
                <div class="block-image block-image-cyclist"></div>
                <div class="block-text block-bg-green">
                    <div class="block-info-margin">
                        <div class="block-title">Треки</div>
                        <div class="block-text-text">
                            Более 10 треков по Черноземью.
                            Независимо от того, вы хотите
                            исследовать городские улицы,
                            окорить горные тропы или
                            прокатиться по набережной,
                            у нас есть идеальное место
                            для вашего велосипедного
                            приключения.
                        </div>
                        <app-details-arrow></app-details-arrow>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>